<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav">
    <mat-nav-list>
      <a mat-list-item (click)="show_home();">Home</a>
      <a mat-list-item (click)="show_area_1();">RSVP</a>
      <a mat-list-item (click)="show_about();">About</a>
    </mat-nav-list>      
  </mat-sidenav>
 
  <div class="example-sidenav-content">    
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span >Welcome</span>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <button mat-icon-button (click)="sidenav.open()">
              <i class="material-icons">menu</i>
          </button>
          <button mat-button (click)="show_home()">Home</button>
          <button mat-button (click)="show_rsvp()">RSVP</button>
          <button mat-button (click)="show_about()">About</button>
        </mat-toolbar-row>
          
      </mat-toolbar>
      <div *ngIf="show_home_component">
        <app-home></app-home>  
      </div>
      <div *ngIf="show_area_1_component">
        <app-rsvp></app-rsvp>
      </div>
      <div *ngIf="show_about_component">
        <app-about></app-about>
      </div>
  </div>
    
  </mat-sidenav-container>